/*
    *********************************************
    ********* Limpar formatações padrão *********
    *********************************************
*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/*
    ****************************************
    ********* Formatações de links *********
    ****************************************
*/

a {
    text-decoration: none;
    padding: 10px;
}

#area-cabecalho a:link,#area-cabecalho a:visited {
    color: white;
}

#area-cabecalho a:hover {
    color: #fb7600;
    background: #FFF;
}

#area-cabecalho a:active {
    color:black;
}

.layout-postagem a:link, .layout-postagem a:visited {
    color: black;
}

.layout-postagem a:hover {
    color: #f7b600;
}

/*
    ********************************************
    ********* Formatações do cabeçalho *********
    ********************************************
*/

#area-cabecalho {
    background: #f7b600;
    text-align: center;
    padding: 10px;
}

#area-logo {
    font-size: 2.5em;
}

#area-menu, #area-logo {
    padding: 10px;
}

/*
    ********************************************
    ********* Formatações do Conteudo **********
    ********************************************
*/

#area-principal {
    width: 920px;
    margin: 0px auto;
    background: white;
    padding: 0px;
}

#area-postagens {
    width: 660px;
    float: left;
    background: white;
    margin-bottom: 10px;
}

#area-lateral {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    text-align: center;
    background: #f7b600;
    padding: 15px;
}

.layout-postagem {
    padding: 10px;
}

.span-postagem {
    font-size: 0.8em;
    padding-bottom: 10px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 10px;
    display: block;
}

.postagem {
    width: 500px;
    padding-left: 5px;
    text-align: justify;
    padding-top: 10px;
}

.conteudo-lateral {
    padding: 5px;
}

.conteudo-lateral p {
    padding-bottom: 0px;
}

.conteudo-lateral a {
    padding-left: 0px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 3px solid #565656;
}
.conteudo-lateral a:link, .conteudo-lateral a:visited {
    color: #fb7600;
} 

.padding-link {
    display: block;
    padding:0px;
}

/*
    **********************************************
    ************** Formatação geral **************
    **********************************************
*/

.branco {
    color: white;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}
